<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">
    <!--<servlet>
        <servlet-name>ControllerServlet</servlet-name>
        <servlet-class>com.myfp.fp.controller.ControllerServlet</servlet-class>
    </servlet>-->

    <!--<servlet>
        <servlet-name>MainServlet</servlet-name>
        <servlet-class>com.myfp.fp.controller.MainServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>MainServlet</servlet-name>
        <url-pattern></url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MainServlet</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>
-->
    <!--<servlet-mapping>
        <servlet-name>ControllerServlet</servlet-name>
        <url-pattern>*.html</url-pattern>
    </servlet-mapping>-->

    <jsp-config>
        <taglib>
            <taglib-uri>https://journaldev.com/jsp/tlds/mytags</taglib-uri>
            <taglib-location>/WEB-INF/numFormat.tld</taglib-location>
        </taglib>
    </jsp-config>

    <context-param>
        <param-name>jakarta.servlet.jsp.jstl.fmt.localizationContext</param-name>
        <param-value>messages</param-value>
    </context-param>

    <filter>
        <filter-name>SecurityFilter</filter-name>
        <filter-class>com.myfp.fp.controller.SecurityFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>SecurityFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <listener>
        <listener-class>com.myfp.fp.controller.ConnectionListener</listener-class>
    </listener>

    <error-page>
        <location>/error.jsp</location>
    </error-page>
    <resource-ref>
        <description>fp_test</description>
        <res-ref-name>jdbc/test</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>
    <resource-ref>
        <description>fpsql</description>
        <res-ref-name>jdbc/postgres</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>


</web-app>